.cover() {

  .cover {
    //margin-top: @nav-height - 20;
    padding-top: 60px;
    //min-height: 460px;
    padding-bottom: 60px;
    #theme-gradient > .radial();
  }

  .cover.fold {
    min-height: 400px;

  }


  #features {
    padding-top: @nav-height - 20;
    padding-bottom: @nav-height - 20;
    border-bottom: @border-dotted;
  }

}
