// creates and calculate dynamic grids

.grid(@segments: 4, @margin: 0, @padding: @padding) {

  .segments(@val) {
    width: (99% / @val);
  }


    margin: @margin;
    display: block;
    .segments(@segments);
    .box-sizing(border-box);
   // padding: @padding;
    float: left;
    list-style: none;

    .items {
      padding: @padding;
      overflow: hidden;
    }


}

.grid-container(@border: @border) {

  border-left: @border;
  border-top: @border;
  padding: 0;
  margin: 0;

  > li, > div {
    .box-sizing(border-box);
    //border-left: @border;
    border-bottom: @border;
    &:nth-child(3n){
    //
      border-right: @border;
    }
  }

}

