/// patterns /////

.highlight-box(@background-color:@background-color,@padding:0,@font-padding: @padding) {

  background-color: @background-color;

  figure {
    padding-left: @padding;
    padding-right: @padding;
  }

  p, h1 {
    padding-left: @font-padding;
    padding-right: @font-padding;
    color: contrast(@background-color,@cp-2,@cp-4);
  }
}

.photo-box(@background-color:@cp-2,@padding:0px) {
  .highlight-box(@background-color,@padding);
}

.bio(@padding:@padding, @float:left) {

  figure {
    margin: @padding;
    float: @float;
  }

}
