/*THEME EFECTS STYLE SHEETS
*
* Theme effects and styles created from effects.less
* a compliation of less-mixins for dynamically creating effects and styles
* @author shawn sandy
* @link shawnsandy.com
* 
*/
/*!
 * Preboot v2
 *
 * Open sourced under MIT license by @mdo.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */
/**
   * LESS custom theme mixins V1.0
   *
   */
BODY {
  color: #0c0c0c;
}
BODY:before {
  /* top shadow -
  usage BODY:before {...}
  */

  content: "";
  position: fixed;
  top: -10px;
  left: -10px;
  width: 110%;
  height: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
#page {
  background-color: #ffffff;
  padding: 10;
}
p {
  color: #252525;
}
a {
  color: #345aaf;
}
a:hover {
  color: #1d3260;
}
a:visited {
  color: #050912;
}
.color {
  display: block;
  padding: 20px;
  height: 60px;
  margin: 20px;
  text-align: center;
}
/**
 * nav
 */
.navbar .brand {
  line-height: 40px;
  font-family: '', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.navbar .navbar-inner {
  background-color: #fafafa;
  background-image: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
.navbar .nav li {
  line-height: 40px;
  padding-left: 5px;
  padding-right: 5px;
}
.navbar .nav li:hover {
  background-color: #c7c7c7;
}
.navbar .nav li a {
  color: #3f3f3f;
  text-shadow: none;
}
.navbar .nav li a:hover,
.navbar .nav li a:focus {
  color: #0c0c0c;
}
.navbar UL UL {
  display: none;
  position: absolute;
  border: solid 1px #c7c7c7;
}
.navbar UL LI {
  list-style: none;
  text-align: center;
}
.navbar UL LI:hover > UL {
  display: block;
  min-width: 200px;
  background-color: #fafafa;
  border: solid 1px #c7c7c7;
}
.navbar UL LI:hover > UL > LI:hover {
  background-color: #949494;
  color: #0c0c0c;
}
.navbar .sub-menu {
  /**
       * Submenu styling
       */

}
.navbar .sub-menu > LI {
  line-height: 60px;
  display: block;
}
.navbar .sub-menu > LI A {
  display: block;
}
.navbar .sub-menu > LI A:hover {
  color: #0c0c0c;
}
.theme-color {
  background-color: #bebebe;
}
.theme-dark {
  background-color: #a5a5a5;
  color: FFF;
}
.theme-light {
  background-color: #d8d8d8;
}
.nav-color {
  background-color: #3f3f3f;
  color: #fff;
}
.nav-background-color {
  background-color: #fafafa;
}
.nav-hover-background-color {
  background-color: #c7c7c7;
}
.nav-hover-color {
  background-color: #0c0c0c;
  color: #FFF;
}
.theme-dark2 {
  background-color: #8b8b8b;
  color: #fff;
}
.theme-light1 {
  background-color: #f1f1f1;
}
.font-color {
  background-color: #252525;
}
.links {
  background-color: #345aaf;
}
.links-hover {
  background-color: #1d3260;
}
.links-lighter {
  background-color: #7392d6;
}
.links-darker {
  background-color: #050912;
  color: #fff;
}
